* {
  font-family: "Play", sans-serif;
}

body {
  background-color: #e3ecfb;
}

#bot-move-buttons {
  display: flex;
  width: 200px;
  flex-direction: column;
}

#bot-move-buttons button {
  margin: 5px;
}

#turn-left {
  float: left;
}

#turn-right {
  float: right; 
}
